
// Navbar
$primary-green: #546036;
$light-beige:  #FFF8DE;

// Panels
$secondary-green: #829F54;

// Items
$light-orange: #FDBC70;
$pale-orange: #F9E1AF;

// Main Area bg
$tertiary-green: #C9CBA7;

// Area bg
$light-gray: #F5F5F5;

// Main Area Buttons
$orange: #FF833A;
