// Partials
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: whitesmoke;
}

#navbar {
  display: flex;
  align-items: center;
  border-style: solid;
  background-color: #718355;
  /* color: white; */
  height: 70px;
  /* position: relative; */
}

#navbar-header {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 13%;
  color: white;
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
}

.navbarLinks {
  display: flex;
  margin-left: 15px;
  justify-content: flex-start;
}

.navLink {
  margin-left: 20px;
  color: gold;
  text-decoration: none;
}

.helpIcon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

#helpModal {
  background-color: beige;
  padding: 20px;
}

#helpModal h3 {
  text-align: center;
  margin-bottom: 20px;
}
/* .modal-content .modal-text-heading, .modal-text, .modal-text-subheading {
  font-family: Helvetica, sans-serif;
} */


.mainArea {
display: flex;
flex-direction: row;
}

.mainAreaContainers {
  width: 60%;
  border-style: solid;
  background-color: $tertiarygreen;
}

.mainAreaComponents {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 20px;
  border: dashed gray;
  border-radius: 2px;
  background-color: $lightgray;
}

.mainAreaComponents h2 {
  margin-bottom: 15px;
  text-align: center;
}

.mainAreaComponents input {
  margin-bottom: 10px;
}

.codemirror {
margin-bottom: 10px;
padding-bottom: 20px;
}

.mainAreaComponents select {
  margin-bottom: 10px;
}

.mainAreaBn {
  padding: 15px;
  background-color: $orange;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
  
}

.sidePanel {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-around; */
  border-style: solid;
  width: 20%;
}

.sidePanel h3 {
  margin: 20px;
  text-align: center;
}

.items {
  border: solid 1px gray;
  margin: 5px 15px;
  padding: 5px;
}

.itemName {
  text-align: center;
}

#schemaMainArea {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 15px;
}


#testdbGenArea label {
  margin-top: 5px;
}

#resultItemsLegend {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* align-items: center; */
  padding: 10px;
  margin: 15px;
  width: 65%;
}

.legends {
  display: flex;
  flex-direction: row;
  /* border: solid .5px gray; */
  /* align-self: center; */
}

.legends p {
  font-size: 12px;
  margin-top: 2px;
}

#testdbGenArea label {
  margin-top: 5px;
}

.active {
  color: blue;
  box-shadow: cornflowerblue;
  text-shadow: cornflowerblue;
}

.inactive {
  color: purple
}

.queryMainArea {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
}

h1 {
  justify-content: center;
}

h2 {
  justify-content: center;
}

h3 {
  justify-content: center;
}

h4 {
  justify-content: space-around;
}

.colorblock {
  width: 10px;
  height: 10px;
  background-color: orange;
  margin-right: 10px;
  margin-top: 3px;
}

#legend-1-colorBlock {
  background-color: lightskyblue;
}

.resultItem {
  border: solid;
  padding: 10px;
  margin: 10px;
  width: 45%;
}

.result-queryName {
  text-align: center;
  margin-bottom: 10px;
}

.result-div-queryValue {
  background-color: darkslategray;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.result-div-schemaSection, .result-div-dbData {
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.result-queryValue {
  text-align: center;
  color: white;
}

.metricsContainer {
  display: flex;
  justify-content: space-around;
}

.queryBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 5px;
}

#queryRuntimeBlock {
  background-color: orange;
  color: white;
  width: 50%;
}

#queryThroughputBlock {
  background-color: lightskyblue;
  color: white;
  width: 50%;
}

.metricNums {
  font-size: 25px;
  margin: 5px;
}

.metricLabel {
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
}


.resultsArea {

}