* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
}

#navbar {
  display: flex;
  align-items: center;
  border-style: solid;
  background-color: #718355;
  color: white;
  height: 70px;
  position: relative;
}

#navbar-header {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.navbarLinks {
  display: flex;
  margin-left: 20px;
}

.navLink {
  margin-left: 20px;
  color: gold;
  text-decoration: none;
}

.mainArea {
  display: flex;
  flex-direction: row;
}

.mainAreaContainers {
  width: 60%;
  border-style: solid;
}

.mainAreaComponents {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 15px;
  margin: 20px;
}

.mainAreaComponents h2 {
  margin-bottom: 15px;
  text-align: center;
}

.mainAreaComponents input {
  margin-bottom: 10px;
}

/* .codemirror {
  margin-bottom: 10px;
} */

.mainAreaComponents select {
  margin-bottom: 10px;
}

.mainAreaBn {
  padding: 15px;
  background-color: gold;
  font-weight: bold;
}

.panels {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  width: 20%;
}

.panels h3 {
  margin: 15px;
}

#schemaMainArea {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 15px;
}


#testdbGenArea label {
  margin-top: 5px;
}

#resultItemsLegend {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* align-items: center; */
  border: solid 1px gray;
  padding: 10px;
  margin: 15px;
  width: 65%;
}

.legends {
  display: flex;
  flex-direction: row;
  /* border: solid .5px gray; */
  /* align-self: center; */
}

.legends p {
  font-size: 12px;
  margin-top: 2px;
}

.colorblock {
  width: 10px;
  height: 10px;
  background-color: orange;
  margin-right: 10px;
  margin-top: 3px;
}

#legend-1-colorBlock {
  background-color: lightskyblue;
}

.resultItem {
  border: solid;
  padding: 10px;
  margin: 10px;
  width: 45%;
}

.result-queryName {
  text-align: center;
  margin-bottom: 10px;
}

.metricsContainer {
  border: solid;
  display: flex;
  justify-content: space-around;
}

.queryBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 5px;
}

#queryRuntimeBlock {
  background-color: orange;
  color: white;
  width: 50%;
}

#queryThroughputBlock {
  background-color: lightskyblue;
  color: white;
  width: 50%;
}

.metricNums {
  font-size: 25px;
  margin: 5px;
}

.metricLabel {
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
}


