* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
}

#navbar {
  display: flex;
  align-items: center;
  border-style: solid;
  background-color: #718355;
  color: white;
  height: 70px;
  position: relative;
}

#navbar-header {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.navbarLinks {
  display: flex;
  margin-left: 20px;
}

.navLink {
  margin-left: 20px;
  color: gold;
  text-decoration: none;
}

.mainArea {
  display: flex;
  flex-direction: row;
}

.mainAreaContainers {
  width: 60%;
  border-style: solid;
}

.mainAreaComponents {
  display: flex;
  flex-direction: column;
}

.panels {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  width: 20%;
}

.panels h3 {
  margin: 15px;
}

#schemaMainArea {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 15px;
}

#schemaArea {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 15px;
  margin: 20px;
}

#schemaArea input {
  margin-bottom: 10px;
}

#testdbGenArea {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 15px;
  margin: 20px;
}

#testdbGenArea input {
  margin-bottom: 10px;
}

#testdbGenArea label {
  margin-top: 5px;
}